{% extends 'admin_home.html' %}
{% block wrapper %}
<div class="m-5">
    <table class="table">
        <tr>
            <th scope="col"> User </th>
            <th scope="col"> Role </th>
            <th scope="col"> Action </th>
        </tr>
        {% for user in users %}
        <tr>
            <td class='col-sm-5'>{{ user.email }}</td>
            {% if user.is_admin %}
                <td class='col-sm-2'>Admin</td>
            {% else %}
                <td class='col-sm-2'>User</td>
            {% endif %}
            <td class="col-sm-1">
            {% if not user.is_admin %}
                <a class="text-danger" onclick="return confirm('Are you sure?')" href="{{url_for('admin_delete', user_id=user.id)}}">delete</a>
                {% else %}
                NA
            {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %} 