{% extends "base.html" %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}" type="text/css"/>
<nav>
    <ul>
        <li><a class="active" href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{url_for('my_polls')}}">My Polls</a></li>
        <li><a href="{{url_for('my_votes')}}">My Voting History</a></li>
        <li><a href="{{ url_for('create_poll') }}">Create New Poll</a></li>
        <li style="float:right" class="user">
            <img onclick="toggleSidebar()" style="float:right" src="{{ url_for('static', filename='user.jpg')}}" height="50" width="50">
        </li>
    </ul>
    
    <div id="sidebar" class="sidebar">
        <a href="javascript:void(0)" class="close-btn" onclick="toggleSidebar()">&times;</a>
        <a href="{{url_for('my_polls')}}">My Polls</a>
        <a href="{{url_for('my_votes')}}">My Voting History</a>
        <a href="{{ url_for('create_poll') }}">Create New Poll</a>
        <a href="{{url_for('logout')}}">Log Out</a>
        <hr>
        <a class="text-danger" href="{{url_for('delete_account')}}"> Delete Account </a>
    </div>
    <script>
        function toggleSidebar() {
            const sidebar = document.getElementById("sidebar");
            sidebar.style.width = sidebar.style.width === "250px" ? "0" : "250px";
        }
    </script>
</nav>
<br>
<div class="wrapper">
    <h4 class="welcome">Welcome <i class="username">{{user.email}}</i></h4>
    {% block wrapper %}
    {% endblock %}
</div>
{% endblock %}