{% extends "base.html" %}
{% block body %}
<nav>
    <a href="{{url_for('logout')}}">Log out</a>
</nav>
<div>
    <p>Welcome <small>{{user.email}}</small> to Your Home Page, 
    
        <a href="{{ url_for('create_poll') }}">Create New Poll</a>
    </p>
    <h5> Vote? </h5>
    <table class="table">
        <tr>
            <th scope="col"> Poll </th>
            <th scope="col"> Votes </th>
            <th scope="col"> Author </th>
            <th scope="col"> Created Date </th>
        </tr>
        {% for poll in polls %}
        <tr>
            <td><a href="{{ url_for('poll', poll_id=poll.id) }}">{{ poll.title }}</a></td>
            <td>{{ poll.vote_count}}</td>
            <td>{{ poll.creator_username}} </td>
            <td>{{ poll.created_at.strftime('%B %d, %Y at %I:%M %p')}} </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}