{% extends "base.html" %}
{% block body %}
<header>
    <a href="{{ url_for('home') }}" class="button">Home</a>
</header>
<h2> {{poll.title}} </h2>
<p>{{ poll.description }}</p>
<form action="{{ url_for('results', poll_id=poll.id) }}" method="POST">
    {% for option in poll.options %}
        <div>
            <input type="radio" id="{{ option.option_id }}" name="selected_option" value="{{ option.id }}" required>
            <label for="{{ option.id }}">{{ option.text }}</label>
        </div>
    {% endfor %}
    <button type="submit" class="button">Submit Vote</button>
</form>
{% endblock %}